/* =================================== NAVBAR =================================== */
.animation-icon-wrapper {
    max-width: 70px;
    max-height: 70px;
    margin: 0.3rem 0.1rem 0rem 0.1rem;
}

#mail svg {
    max-width: 50px;
    height: auto;
}

.navlink-wrapper a:hover {
    background-color: var(--lightBlue);
    animation: navOpacity 0.4s;
    animation-timing-function: linear;
}

@keyframes navOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.navlink-wrapper a.active {
    background-color: var(--lightBlue);
}

span.heart:hover {
    text-shadow: 0px 0px 8px #ff3a3a;
    cursor: pointer;
}

/* =================================== HOME  =================================== */
.animation-button-wrapper {
    max-width: 200px !important;
}

/* =================================== CONTACT  =================================== */
#whatsapp:hover {
    color: #25D366;
    text-decoration: none;
    text-shadow: 0px 0px 16px #00ff5e;
}

#github:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 0px 16px #ffffff;
}

#instagram:hover {
    text-decoration: none;
    text-shadow: 0px 0px 16px #ee2a7b;
}