#root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  overflow-y: hidden !important;
}

.sub-title {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

/* =================================== NAVBAR =================================== */
.navbar-wrapper {
  height: 100%;
  display: flex;
  background-color: var(--darkBlue);
  flex-direction: column;
  justify-content: flex-end;
  flex: 0.2;
  padding: 1rem 0;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 1rem 0 3rem 0;
}

.navlink-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto 0;
}

.navlink-wrapper a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3rem 0rem;
  display: flex;
  align-items: center;
}

.footer-wrapper {
  width: 260px;
  line-height: 0.8rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.heart {
  color: red;
}

/* .navbar-wrapper{
  width: 100vw;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.navbar-wrapper div{
  margin: 0 auto;
}

.navlink-wrapper{
  display: flex;
}

.navlink-wrapper a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1.6rem;
} */


.home-wrapper {
  width: 100vw;
  padding: 4rem;
  color: rgba(255, 255, 255, 1);
}

.work-wrapper, .about-wrapper, .contact-wrapper {
  width: 100vw;
  padding: 2rem;
  color: rgba(255, 255, 255, 1);
}

.projects-wrapper, .frameworks-wrapper, .tools-wrapper, .profile-wrapper, .future-dream-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-title, .frameworks-title, .tools-title, .profile-title, .future-dream-title, .contact-title {
  text-transform: uppercase;
  font-size: 32px;
}

.coming-soon {
  width: 250px;
  margin-bottom: 3rem;
}

/* =================================== HOME =================================== */
.hero-section-wrapper div {
  display: flex;
}

.main-image {
  width: 250px;
}

.hero-title {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  flex-direction: column;
  font-size: 42px;
}

.hero-description {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 2.1rem;
  max-width: 60vw;
}

/* =================================== WORK =================================== */

/* =================================== ABOUT =================================== */

/* =================================== CONTACT =================================== */
.contact-title {
  text-align: center;
}

.contact-subtitle {
  width: 40vw;
  height: auto;
  margin: auto;
  margin-top: 1em !important;
  font-size: 1.6em;
  color: var(--cyan);
}

form.ant-form, .form-contact {
  width: 40vw !important;
  height: auto !important;
  overflow-y: hidden !important;
  display: flex !important;
  flex-direction: column;
  margin: auto !important;
  margin-top: 0.6em !important;
  margin-bottom: 2em !important;
  padding-bottom: 0.5em !important;
}

label.ant-form-item-required, label {
  color: #ffffff !important;
  font-weight: bold !important;
  margin-bottom: 0.2em !important;
  text-transform: uppercase !important;
}

label span {
  color: rgb(255, 63, 63);
}

div.ant-form-item-explain-error {
  font-size: 16px;
  margin-top: 0em !important;
  margin-bottom: 1em !important;
}

div.ant-form-item-control-input-content input.ant-input, textarea#message, .form-contact input, textarea {
  color: #ffffff !important;
  background-color: var(--bgPrimary) !important;
  font-size: 16px !important;
  padding: 8px !important;
  margin-bottom: 1em;
  font-family: 'Noto Serif JP', serif !important;
  border: 3px solid #555;
}

div.ant-form-item-control-input-content input::placeholder, textarea#message::placeholder, .form-contact input::placeholder, textarea::placeholder {
  color: #949494 !important;
}

input:focus, textarea:focus {
  outline: none;
  border: 3px solid var(--cyan);
}

button.submit-contact {
  padding: 0.8em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  margin-top: 1.5em;
  text-align: center !important;
  align-self: center !important;
  justify-content: center !important;
  font-weight: bolder;
  color: #ffffff;
  background-color: var(--lightBlue) !important;
  border: 2px solid var(--cyan);
  border-radius: 5%;
  cursor: pointer;
  font-family: 'Noto Serif JP', serif;
  font-weight: bolder !important;
}

button.submit-contact:hover {
  background-color: transparent !important;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 10px #ffffff;
}

.get-in-touch-wrapper {
  display: flex;
  justify-content: space-around;
}

.info-title, .socmed-title {
  text-align: center;
}

.socmed-section-wrapper, .info-section-wrapper {
  min-width: 300px;
}

.socmed-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.info-section-wrapper .info p, .socmed-section-wrapper a {
  display: flex;
  align-items: center;
  gap: 1em;
  line-height: 2em;
}

.info-section-wrapper p img, .socmed-section-wrapper a img {
  width: 24px;
  height: auto;
}

#phone {
  color: #797979;
  text-decoration: none;
}

#gmail {
  color: var(--purple);
  text-decoration: none;
}

#googlemaps {
  color: var(--cyan);
  text-decoration: none;
}

#whatsapp {
  color: #25D366;
  text-decoration: none;
}

#github {
  color: #ffffff;
  text-decoration: none;
}

#instagram {
  color: #E4405F;
  text-decoration: none;
}

#whatsapp:hover {
  color: #25D366;
  text-decoration: none;
  text-shadow: 0px 0px 16px #00ff5e;
}

#github:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 0px 16px #ffffff;
}

#instagram:hover {
  color: #E4405F;
  text-decoration: none;
  text-shadow: 0px 0px 16px #ff002f;
}