#root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  overflow-y: hidden !important;
}

.translate--2 {
  translate: -50px -50px;
}

.sub-title {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.crystal {
  background: -webkit-linear-gradient(#d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #52cffe, #46eefa, #5ffbf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.crystal-box {
  width: max-content;
  padding: 0.4em;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-image: linear-gradient(to right top, #ff4da1, #ec449d, #d83c98, #c43593, #b12e8d, #a8409c, #9d4ea9, #915bb3, #8a7bcf, #8498e4, #87b4f4, #94ceff);
}

.crystal-box-2 {
  width: max-content;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-image: linear-gradient(to right top, #ff4da1, #ec449d, #d83c98, #c43593, #b12e8d, #a8409c, #9d4ea9, #915bb3, #8a7bcf, #8498e4, #87b4f4, #94ceff);
}

.crystal-box-input {
  padding: 0.4em;
  border: 2px solid #ffffff;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.spacing-two-finger {
  margin-left: 2em;
}

/* =================================== NAVBAR =================================== */
.navbar-wrapper {
  height: 100%;
  display: flex;
  background-color: var(--darkBlue);
  flex-direction: column;
  justify-content: flex-end;
  flex: 0.2;
  padding: 1rem 0;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 1rem 0 3rem 0;
}

.navlink-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto 0;
}

.navlink-wrapper a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.3rem 0rem;
  display: flex;
  align-items: center;
}

.footer-wrapper {
  width: 260px;
  line-height: 0.8rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

/* .navbar-wrapper{
  width: 100vw;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.navbar-wrapper div{
  margin: 0 auto;
}

.navlink-wrapper{
  display: flex;
}

.navlink-wrapper a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1.6rem;
} */


.home-wrapper {
  width: 100vw;
  padding: 4rem;
  color: rgba(255, 255, 255, 1);
}

.work-wrapper, .about-wrapper, .contact-wrapper {
  width: 100vw;
  padding: 2rem;
  color: rgba(255, 255, 255, 1);
}

.projects-wrapper, .frameworks-wrapper, .tools-wrapper, .profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-title, .frameworks-title, .tools-title, .profile-title, .stats-title, .interest-title, .contact-title {
  text-transform: uppercase;
  font-size: 32px;
}

.coming-soon {
  width: 250px;
  margin-bottom: 3rem;
}

/* =================================== HOME =================================== */
.hero-section-wrapper div {
  display: flex;
}

.main-image {
  width: 220px;
  border-radius: 5px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(to left, #EA5A6F, #DE791E, #FCCF3A);
  background-color: #ffffff;
  /* rotate: -2deg; */
}

.subhero-section-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-title, .download-btn-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  flex-direction: column;
  font-size: 42px;
}

.download-btn-wrapper {
  flex-direction: row;
  width: max-content;
  margin-top: 3rem;
  gap: 1em;
}

.hero-description-title {
  margin-top: 4rem;
  font-size: 20px;
  line-height: 2.1rem;
}

.hero-description {
  font-size: 20px;
  line-height: 2.1rem;
  max-width: 60vw;
}

/* =================================== WORK =================================== */
.middle-text-border {
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 10px solid;
  border-right: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #52cffe, #46eefa, #5ffbf1);
}

/* =================================== ABOUT =================================== */
.stats-wrapper, .interest-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-title, .interest-title {
  padding-left: 6px;
  border-left: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to bottom, #EA5A6F, #DE791E, #FCCF3A);
}

.photography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 1.5em;
}

.photography h2 {
  margin-bottom: 32px;
}

.polaroid-row {
  display: flex;
}

div.polaroid {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #363636;
}

div.polaroid p {
  color: var(--darkBlue);
}

div.no-rotate {
  float: left;
}

div.rotate-right {
  float: left;
  transform: rotate(7deg);
}

div.rotate-left {
  float: left;
  transform: rotate(-8deg);
}

/* =================================== CONTACT =================================== */
.contact-title {
  text-align: center;
}

.contact-subtitle {
  width: 40vw;
  height: auto;
  margin: auto;
  margin-top: 1em !important;
  font-size: 1.6em;
}

form.ant-form, .form-contact {
  width: 40vw !important;
  height: auto !important;
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column;
  margin: auto !important;
  margin-top: 0.6em !important;
  margin-bottom: 2em !important;
  padding-bottom: 0.5em !important;
}

label.ant-form-item-required, label {
  color: #ffffff !important;
  font-weight: bold !important;
  margin-bottom: 0.2em !important;
  text-transform: uppercase !important;
}

label span {
  color: rgb(255, 63, 63);
}

div.ant-form-item-explain-error {
  font-size: 16px;
  margin-top: 0em !important;
  margin-bottom: 1em !important;
}

div.ant-form-item-control-input-content input.ant-input, textarea#message, .form-contact input, textarea {
  color: #ffffff !important;
  background-color: var(--bgPrimary) !important;
  font-size: 16px !important;
  padding: 8px !important;
  margin-bottom: 1em;
  font-family: 'Noto Serif JP', serif !important;
  border: 3px solid #ffffff;
}

textarea.crystal-box-input {
  border: 3px solid #ffffff;
}

div.ant-form-item-control-input-content input::placeholder, textarea#message::placeholder, .form-contact input::placeholder, textarea::placeholder {
  color: #949494 !important;
}

input:focus, textarea:focus {
  outline: none;
  border: 3px solid var(--cyan);
}

button.submit-contact {
  padding: 0.8em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  margin-top: 1.5em;
  text-align: center !important;
  align-self: center !important;
  justify-content: center !important;
  font-weight: bolder;
  color: #ffffff;
  background-color: var(--lightBlue) !important;
  border: 2px solid var(--cyan);
  border-radius: 5%;
  cursor: pointer;
  font-family: 'Noto Serif JP', serif;
  font-weight: bolder !important;
}

button.submit-contact:hover {
  background-color: transparent !important;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 10px #ffffff;
}

.get-in-touch-wrapper {
  display: flex;
  justify-content: space-around;
}

.info-title, .socmed-title {
  text-align: center;
}

.socmed-section-wrapper, .info-section-wrapper {
  min-width: 300px;
}

.info-section-wrapper {
  color: #ffffff !important;
}

.socmed-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.info-section-wrapper .info p, .socmed-section-wrapper a {
  display: flex;
  align-items: center;
  gap: 1em;
  line-height: 2em;
}

.info-section-wrapper p img, .socmed-section-wrapper a img {
  width: 24px;
  height: auto;
}

/* #phone {
  color: #797979;
  text-decoration: none;
}

#gmail {
  color: var(--purple);
  text-decoration: none;
}

#googlemaps {
  color: var(--cyan);
  text-decoration: none;
} */

#whatsapp {
  color: #25D366;
  text-decoration: none;
}

#github {
  color: #ffffff;
  text-decoration: none;
}

#instagram {
  background: -webkit-linear-gradient(#f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

/* background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7); */